.PageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 70vh;
}

.PageNotFound h1 {
  font-size: 288px;
  margin: 0px;
}

.PageNotFound h2 {
  font-size: 36px;
}

.PageNotFound h3 {
  font-size: 18px;
}

@media screen and (max-width: 425px) {
  .PageNotFound h1 {
    font-size: 96px;
  }

  .PageNotFound h2 {
    font-size: 18px;
  }

  .PageNotFound h3 {
    font-size: 14px;
  }
}
