.CollapseButtonTitle {
  color: #f6f6f6;
}

.LargeCollapseBar {
  width: 80%;
  margin: 0 10%;
}

.LargeCollapseButton {
  background-color: #ff6060;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 47px;
  margin-top: 24px;
  padding: 16px;
  text-align: left;
  cursor: pointer;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LargeCollapseText {
  background-color: #f6f6f6;
  margin-top: 10px;
  padding: 16px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0px 0px 5px 5px;
}

.AllShortCollapse {
  display: flex;
  justify-content: space-between;
}

.ShortCollapseBar {
  width: 47%;
}

.ShortCollapseButton {
  background-color: #ff6060;
  border: none;
  height: 52px;
  width: 100%;
  border-radius: 10px;
  margin-top: 24px;
  text-align: left;
  padding: 16px;
  margin-bottom: -10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ShortCollapseText {
  background-color: #f6f6f6;
  padding: 16px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0px 0px 5px 5px;
}

.ListOfItems {
  padding-left: 0;
  list-style-type: none;
}

@media screen and (max-width: 425px) {
  .AllShortCollapse {
    display: block;
  }

  .LargeCollapseText {
    font-size: 12px;
  }

  .CollapseButtonTitle {
    font-size: 13px;
  }

  .ShortCollapseBar {
    width: 100%;
  }

  .ShortCollapseButton {
    height: 29px;
  }

  .ShortCollapseText {
    font-size: 12px;
  }
}
