header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 48px;
}

.NavLogo {
  display: flex;
  margin-left: 48px;
}

.NavLink {
  display: flex;
  list-style: none;
  margin-right: 48px;
}

.Link {
  font-size: 24px;
  padding-left: 30px;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header {
    margin: 8px;
    padding-top: 8px;
  }

  .NavLogo {
    height: 47px;
    margin-left: 8px;
  }

  .NavLink {
    margin-right: 8px;
  }

  .Link {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .NavLogo {
    height: 35px;
  }

  .Link {
    font-size: 11px;
  }
}
