.AllInfo {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
}

.HouseInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HostInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.Title {
  font-size: 36px;
}

.Location {
  font-size: 18px;
}

.AllTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.Tag {
  width: 84pxpx;
  background-color:#FF6060;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  padding: 3px 21px;
  margin: 0px 8px 8px 0px;
}

.ProfilePicture {
  width: 64px;
  height: 64px;
  border-radius: 30px;
}

.HostNameAndPicture {
  display: flex;
}

.HostName {
  font-size: 18px;
  padding-right: 8px;
  text-align: end;
  width: 70px;
}

@media screen and (max-width: 768px) {
  .BannerDetails {
    height: 255px;
  }

  .Title {
    font-size: 18px;
  }

  .Location {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .AllInfo {
    display: block;
    height: auto;
  }

  .HouseInfo {
    height: 100px;
  }

  .HostInfo {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
  }

  .HostNameAndPicture {
    align-items: center;
    align-self: flex-end;
  }

  .ProfilePicture {
    width: 32px;
    height: 32px;
  }

  .HostName {
    font-size: 12px;
  }

  .Tag {
    font-size: 10px;
  }

  .Stars {
    position: absolute;
    top: 450px;
  }

  .SingleStar {
    height: 15px;
    width: 17px;
  }
}